<div class="mt-5 mb-0 ml-5 mr-5 w-50" style="font-size:large"><b>Calculator</b></div>
<div class="border border-dark ml-5 mr-5 mb-5 w-50">
  <div class="form-row m-2">
    <div class="col-2">
      <input  type="number" [(ngModel)]="value1" class="w-75"/>
    </div>
    <div class="col-2">
      <label>{{signT}} </label>
    </div>
    <div class="col-2">
      <input type="number" [(ngModel)]="value2" class="w-75"/>
      {{errMsg}}
    </div>
    <div class="col-2">
      <label>{{equalTo}} </label>
    </div>
    <div class="col-2">
      <label>{{result}} </label>
    </div>
  </div>
  <div class="form-row m-2"></div>
  <div class="form-row m-2">
    <div class="col-2">
      <button type="button" (click)="add()"><b>+</b></button>
    </div>
    <div class="col-2">
      <button type="button" (click)="diff()"><b>-</b></button>
    </div>
    <div class="col-2">
      <button type="button" (click)="product()"><b>x</b></button>
    </div>
    <div class="col-2">
      <button type="button" (click)="Divide()">
        <i class="fas fa-divide"></i>
      </button>

    </div>
    <div class="col-2">
      <button type="button" (click)="clear()">Reset</button>
    </div>
    <div class="col-2"></div>
  </div>
</div>